<%= form_for @movie, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
  </div>



  <div class="field">
    <%= f.label :director_id %>
    <%= collection_select(:director, :director_id, Director.all, :id, :first_name) %>  </div>


    <%= f.fields_for :address_attributes, @movie.address do |address| %>
      <%= address.label :street %>
      <%= address.text_field :street %>
      <%= address.label :apartment %>
      <%= address.check_box :apartment %>
      <%= address.label :description %>
      <%= address.text_field :description %>
      <%= address.label :zipcode %>
      <%= address.text_field :zipcode %>

    <% end %>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
